<p id="notice"><%= notice %></p>

<h1>Listing Role Accesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lead c</th>
      <th>Lead r</th>
      <th>Lead u</th>
      <th>Lead d</th>
      <th>Account c</th>
      <th>Account r</th>
      <th>Account u</th>
      <th>Account d</th>
      <th>Opportunity c</th>
      <th>Opportunity r</th>
      <th>Opportunity u</th>
      <th>Opportunity d</th>
      <th>Contact c</th>
      <th>Contact r</th>
      <th>Contact u</th>
      <th>Contact d</th>
      <th>Case c</th>
      <th>Case r</th>
      <th>Case u</th>
      <th>Case d</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @role_accesses.each do |role_access| %>
      <tr>
        <td><%= role_access.name %></td>
        <td><%= role_access.lead_c %></td>
        <td><%= role_access.lead_r %></td>
        <td><%= role_access.lead_u %></td>
        <td><%= role_access.lead_d %></td>
        <td><%= role_access.account_c %></td>
        <td><%= role_access.account_r %></td>
        <td><%= role_access.account_u %></td>
        <td><%= role_access.account_d %></td>
        <td><%= role_access.opportunity_c %></td>
        <td><%= role_access.opportunity_r %></td>
        <td><%= role_access.opportunity_u %></td>
        <td><%= role_access.opportunity_d %></td>
        <td><%= role_access.contact_c %></td>
        <td><%= role_access.contact_r %></td>
        <td><%= role_access.contact_u %></td>
        <td><%= role_access.contact_d %></td>
        <td><%= role_access.case_c %></td>
        <td><%= role_access.case_r %></td>
        <td><%= role_access.case_u %></td>
        <td><%= role_access.case_d %></td>
        <td><%= link_to 'Show', role_access %></td>
        <td><%= link_to 'Edit', edit_role_access_path(role_access) %></td>
        <td><%= link_to 'Destroy', role_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role access', new_role_access_path %>
