<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role_access.name %>
</p>

<p>
  <strong>Lead c:</strong>
  <%= @role_access.lead_c %>
</p>

<p>
  <strong>Lead r:</strong>
  <%= @role_access.lead_r %>
</p>

<p>
  <strong>Lead u:</strong>
  <%= @role_access.lead_u %>
</p>

<p>
  <strong>Lead d:</strong>
  <%= @role_access.lead_d %>
</p>

<p>
  <strong>Account c:</strong>
  <%= @role_access.account_c %>
</p>

<p>
  <strong>Account r:</strong>
  <%= @role_access.account_r %>
</p>

<p>
  <strong>Account u:</strong>
  <%= @role_access.account_u %>
</p>

<p>
  <strong>Account d:</strong>
  <%= @role_access.account_d %>
</p>

<p>
  <strong>Opportunity c:</strong>
  <%= @role_access.opportunity_c %>
</p>

<p>
  <strong>Opportunity r:</strong>
  <%= @role_access.opportunity_r %>
</p>

<p>
  <strong>Opportunity u:</strong>
  <%= @role_access.opportunity_u %>
</p>

<p>
  <strong>Opportunity d:</strong>
  <%= @role_access.opportunity_d %>
</p>

<p>
  <strong>Contact c:</strong>
  <%= @role_access.contact_c %>
</p>

<p>
  <strong>Contact r:</strong>
  <%= @role_access.contact_r %>
</p>

<p>
  <strong>Contact u:</strong>
  <%= @role_access.contact_u %>
</p>

<p>
  <strong>Contact d:</strong>
  <%= @role_access.contact_d %>
</p>

<p>
  <strong>Case c:</strong>
  <%= @role_access.case_c %>
</p>

<p>
  <strong>Case r:</strong>
  <%= @role_access.case_r %>
</p>

<p>
  <strong>Case u:</strong>
  <%= @role_access.case_u %>
</p>

<p>
  <strong>Case d:</strong>
  <%= @role_access.case_d %>
</p>

<%= link_to 'Edit', edit_role_access_path(@role_access) %> |
<%= link_to 'Back', role_accesses_path %>
