<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, :class => 'form-control input-transparent' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
