<div class="content container">
<h2 class="page-title">Contacts - <span class="fw-semi-bold">List</span></h2>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <h4>
                    Table <span class="fw-semi-bold">Styles</span>
                </h4>
            </header>
            <div class="body">
              <p id="notice"><%= notice %></p>
              <div class="table-responsive">
                  <table class="table table-hover table-striped">
                      <thead>
                        <tr>
                          <th>First name</th>
                          <th>Last name</th>
                          <th>Company Name</th>
                          <th>Job position</th>
                          <th>Role</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th>Mobile</th>
                          <th>Owner</th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @contacts.each do |contact| %>
                          <tr>
                            <td><%= contact.first_name %></td>
                            <td><%= contact.last_name %></td>
                            <td><%= contact.account.name %></td>
                            <td><%= contact.job_position %></td>
                            <td><%= contact.role %></td>
                            <td><%= contact.email %></td>
                            <td><%= contact.phone %></td>
                            <td><%= contact.mobile %></td>
                            <td><%= contact.user.full_name %></td>
                            <td><%= link_to 'Show', contact %></td>
                            <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
                            <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
              </div>

            </div>
        </section>
    </div>
</div>
