<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @contact.desc %>
</p>

<p>
  <strong>Job position:</strong>
  <%= @contact.job_position %>
</p>

<p>
  <strong>Role:</strong>
  <%= @contact.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @contact.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @contact.address2 %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @contact.country %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contact.status %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
