<%= form_for(@support_case) do |f| %>
  <% if @support_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@support_case.errors.count, "error") %> prohibited this support_case from being saved:</h2>

      <ul>
      <% @support_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.select :contact_id, options_for_select(@contact_account.all.map{|s|[s.full_name+" from "+s.account.name, s.id]}), {}, :class => 'btn-default' %>
  </div>
  <div class="field">
    <%= f.label :stage %><br>
    <%= f.text_field :stage, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :solution %><br>
    <%= f.text_area :solution, :class => 'form-control input-transparent' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
