<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>Login to your account</h4>
        </header>
        <div class="body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <fieldset>
                    <div class="form-group">
                        <%= f.label :email %>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <%= f.email_field :email, autofocus: true, :class => 'form-control input-lg input-transparent' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.label :password %>

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <%= f.password_field :password, autocomplete: "off", :class => 'form-control input-lg input-transparent' %>
                        </div>
                    </div>
                </fieldset>
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>
                <div class="form-actions">
                        <%= f.submit "Log in", :class => 'btn btn-block btn-lg btn-danger' %>

                <%= render "devise/shared/links" %>
              </div>

              <% end %>
        </div>

    </section>
</div>
