<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Desc</th>
      <th>Lead</th>
      <th>Account</th>
      <th>Contact</th>
      <th>Opportunity</th>
      <th>Support Case</th>
      <th>Owner</th>
      <th>Start</th>
      <th>End</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.type %></td>
        <td><%= activity.desc %></td>
        <td><%= activity.lead.name %></td>
        <td><%= activity.account.name %></td>
        <td><%= activity.contact.full_name %></td>
        <td><%= activity.opportunity.name %></td>
        <td><%= activity.support_case.name %></td>
        <td><%= activity.user.full_name %></td>
        <td><%= activity.start %></td>
        <td><%= activity.end %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
