<!DOCTYPE html>
<html>
<head>
    <title>WDI CRM</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="<%= image_tag 'favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>
</head>
<body>
    <div class="logo">
        <h4><a href="/">WDI <strong>CRM</strong></a></h4>
    </div>
        <nav id="sidebar" class="sidebar nav-collapse collapse">
            <ul id="side-nav" class="side-nav">
                <li class="active">
                    <a href="/"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#side-nav" href="#forms-collapse"><i class="fa fa-pencil"></i> <span class="name">Activities</span></a>
                    <ul id="forms-collapse" class="panel-collapse collapse ">
                        <li class=""><%= link_to 'all activities', activities_path %></li>
                        <li class=""><%= link_to 'my activities', activities_path %></li>
                        <li class=""><%= link_to 'create activity', new_activity_path %></li>
                    </ul>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#side-nav" href="#stats-collapse"><i class="fa fa-area-chart"></i> <span class="name">Leads</span></a>
                    <ul id="stats-collapse" class="panel-collapse collapse ">
                        <li class=""><%= link_to 'all leads', leads_path %></li>
                        <li class=""><%= link_to 'my leads', leads_path %></li>
                        <li class=""><%= link_to 'create lead', new_lead_path %></li>
                    </ul>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#side-nav" href="#ui-collapse"><i class="fa fa-magic"></i> <span class="name">Accounts</span></a>
                    <ul id="ui-collapse" class="panel-collapse collapse ">
                      <li class=""><%= link_to 'all accounts', accounts_path %></li>
                      <li class=""><%= link_to 'my accounts', accounts_path %></li>
                      <li class=""><%= link_to 'create account', new_account_path %></li>
                    </ul>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#side-nav" href="#components-collapse"><i class="fa fa-tree"></i> <span class="name">Contacts</span></a>
                    <ul id="components-collapse" class="panel-collapse collapse ">
                      <li class=""><%= link_to 'all contacts', contacts_path %></li>
                      <li class=""><%= link_to 'my contacts', contacts_path %></li>
                      <li class=""><%= link_to 'create contact', new_contact_path %></li>
                    </ul>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#side-nav" href="#tables-collapse"><i class="fa fa-cog"></i> <span class="name">Opportunities</span></a>
                    <ul id="tables-collapse" class="panel-collapse collapse ">
                      <li class=""><%= link_to 'all opportunities', opportunities_path %></li>
                      <li class=""><%= link_to 'my opportunities', opportunities_path %></li>
                      <li class=""><%= link_to 'create opportunity', new_opportunity_path %></li>
                    </ul>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#side-nav" href="#grid-collapse"><i class="fa fa-th"></i> <span class="name">Support Cases</span></a>
                    <ul id="grid-collapse" class="panel-collapse collapse ">
                      <li class=""><%= link_to 'all support cases', support_cases_path %></li>
                      <li class=""><%= link_to 'my support cases', support_cases_path %></li>
                      <li class=""><%= link_to 'create case', new_support_case_path %></li>
                    </ul>
                </li>
                <li class="panel">
                    <i class="fa fa-sign-out"></i> <span class="name">
                      <% if user_signed_in? %>
                      <%= link_to "log out", destroy_user_session_path, method: :delete %>
                      <% else %>
                      <%= link_to "Log in", new_user_session_path, method: :get %>
                      <% end %>
                    </span>
                </li>
            </ul>
        </nav>
        <div class="wrap">
        <header class="page-header">
            <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">

                    <li class="divider"></li>
                    <li class="hidden-xs dropdown">
                        <a href="#" title="Account" id="account"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                        <ul id="account-menu" class="dropdown-menu account" role="menu">

                            <li role="presentation">
                                <a href="/users/edit" class="link">
                                    <i class="fa fa-user"></i>
                                    View my Profile
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="/activities" class="link">
                                    <i class="fa fa-calendar"></i>
                                    View my Activities
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="visible-xs">
                        <a href="#"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="hidden-xs"><a href="#"><i class="glyphicon glyphicon-off"></i></a></li>
                </ul>
                <form id="search-form" class="navbar-form pull-right" role="search">
                    <input type="search" class="form-control search-query" placeholder="Search...">
                </form>
            </div>
        </header>


        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% elsif alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
        <%= yield %>


        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>


<!-- common libraries. required for every page-->
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery.pjax.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "widgster.js" %>
<%= javascript_include_tag "underscore.js" %>

<%= javascript_include_tag "jquery.slimscroll.min.js" %>
<%= javascript_include_tag "d3.min.js" %>
<%= javascript_include_tag "nv.d3.min.js" %>

</html>
