<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :industry %><br>
    <%= f.text_field :industry, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :relationship_type %><br>
    <%= f.text_field :relationship_type, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :company_size %><br>
    <%= f.text_field :company_size, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :company_email %><br>
    <%= f.text_field :company_email, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :company_phone %><br>
    <%= f.text_field :company_phone, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :company_fax %><br>
    <%= f.text_field :company_fax, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :company_address1 %><br>
    <%= f.text_field :company_address1, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :company_address2 %><br>
    <%= f.text_field :company_address2, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :company_state %><br>
    <%= f.text_field :company_state, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :company_country %><br>
    <%= f.text_field :company_country, :class => 'form-control input-transparent' %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website, :class => 'form-control input-transparent' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
